:root {
  --body-color: #121212;
  --secondary-body-color: #1f1f1f;
  --primary-color: rgb(163, 255, 73);
  --text-color: rgba(255, 255, 255, .87);
  --alt-text-color: rgb(41, 41, 41);
  --border-color: #333;
  --top-bar-color: #282828;
  --total-value-color: #282828;
}