:root {
	--body-color: #efefef;
	--secondary-body-color: #fff;
  --primary-color: rgba(0, 107, 145, 1);
	--text-color: #222;
	--alt-text-color: #fff;
	--border-color: #ccc;
	--top-bar-color: rgb(0, 67, 91);
	--total-value-color: rgb(0, 67, 91);
}